.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

#logo { height: 100vh; }

.atelier-header {
    margin-bottom: 0px;
}

.atelier-leader {
    margin-top: 5px;
}

.atelier-time {
    font-weight: 500;
}

.atelier-cost {
    font-style: italic;
}

.atelier {
    padding-top: 15px;
}

section.body {
    margin-bottom: 60px;
}

.social img {
    width: 50px;
    margin-bottom: 20px;
}